<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
<h2>로그인</h2>

<label for="Id">아이디:</label>
<input type="text" id="Id" required autocomplete="username"><br>

<label for="Pw">비밀번호:</label>
<input type="password" id="Pw" required autocomplete="current-password"><br>


<button id="login">로그인</button>
<button onclick="goToMainPage()">메인 페이지로</button>


<script>

  document.getElementById("login").addEventListener("click", login);
  function goToMainPage() {
    window.location.href = "/users/main";
  }

  function login() {
    const Id = document.getElementById("Id").value;
    const Pw = document.getElementById("Pw").value;


    fetch("/users/login?username=id&password=pw".replace("id", Id).replace("pw", Pw))
            .then((response) => {
              if (response.ok) {
                return response.json();
              } else {
                throw new Error("오류 발생");
              }
            })
            .then((body) => {
              const token = body.token;
              console.log(`Token: ${token}`);

              localStorage.setItem("token", token);
              let tokencheck = localStorage.getItem("token")
              console.log(`TokenCheck: ${tokencheck}`);
              console.log("토큰이 localStorage에 저장되었습니다.");
              alert("로그인 성공!");

              window.location.href = "/users/main";
            })
            .catch((error) => {
              console.error("오류 발생: ", error);
              alert("로그인 실패: " + error.message);
            });
  }
</script>


<form action="/users/register" method="get">
  <input type="submit" value="회원가입">
</form>

</body>
</html>
